{% extends "main.html" %}

{% block title %}Test Message App | Home{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <h1>Say something</h1>
                <form id="mainform" method="post">
                    <input name="username" placeholder="Username" required>
                    <input name="message" placeholder="Enter a message" required>
                    <input type="submit" value="Submit">
                </form>

            </div>
            <div class="col-md-8">

                <h1>Messages</h1>
                {% if messages %}
                    {% for m in messages %}
                        <p>"{{ m.message }}"</p>
                        <p>{{ m.sender }} ({{ m.dt }})</p>
                    {% endfor %}
                {% else %}
                    <p>No messages found.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}