{% extends "main.html" %}

{% block title %}Test Message App | Home{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <h1>Say something</h1>
                <form id="mainform" method="post">
                    <input name="username" placeholder="Username" required>
                    <input name="message" placeholder="Enter a message" required>
                    <input type="submit" value="Submit">
                </form>

            </div>
            <div class="col-md-8">

                <h1>Messages</h1>
                {% for m in messages %}
                    <p>On {{ m.dt }}, {{ m.sender }} said:</p>
                    <p>"{{ m.message }}"</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}